/*
#a4c2d1 ---> Egg Blue
#dbdcde ---> Light Grey
#1f7798 ---> Mid-Blue
#184f63 ---> Dark-Blue
*/

/* Global Style */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Lato:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #a4c2d1;
}

h1,
h2 {
  font-family: 'DM Serif Display', serif;
  color: #184f63;
}

.sharp-corners,
.sharp-corners * {
  border-radius: 0;
}

/* Modal Button */

.custom-button {
  background-color: #1f7798;
  border: #1f7798;
}

.custom-button:hover {
  background-color: #1d6d8a;
  border: #1d6d8a;
}

/* About Section */

#about {
  background-color: white;
}

/* Portfolio Section */

#portfolio {
  background-color: #dbdcde;
}

#portfolio .card-title {
  color: #1f7798;
  font-size: 1.2rem;
}

#portfolio .btn-outline-secondary:hover {
  background-color: #1f7798;
}

#portfolio .card-text {
  min-height: 170px;
}

#portfolio .card-img-top {
  height: 400px;
  width: auto;
}

/* Contact Section */

#contact {
  background-color: white;
}

/* Header Hero Image */

#hero {
  background-image: url(/assets/img/background-image.webp);
  background-size: cover;
  background-position: 50% 70%;
  min-height: 500px;
  padding: 5% 7%;
}

/* MEDIA QUERIES */

/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 300px) {
  #portfolio .card-text {
    min-height: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  #portfolio .card-text {
    min-height: 170px;
  }
}
